@model Bobkov.Web.Models.Blog.AllPostsVM
@using Bobkov.Web.Helpers;
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="col-lg-12 post">
            <div class="container">
                <p class="card-text">@post.DateCreated.ToString("dd MMMM yyyy")</p>
                <h4 class="post-title">
                    <a asp-action="PostDetails" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </h4>
                <p class="post-preview">@post.Preview</p>
            </div>
        </div>
    }
</div>
<div class="paging-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Posts", new { page = x }))
</div>