@model Bobkov.Web.Models.Account.LoginVM

<h2>Вход</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="All"></div>
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.EditorFor(m => m.Username)
        @Html.ValidationMessageFor(model => model.Username, string.Empty, new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.IsPersistent)
        @Html.EditorFor(m => m.IsPersistent)
        @Html.ValidationMessageFor(model => model.IsPersistent, string.Empty, new { @class = "text-danger" })
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>